 html { 
      background: url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2015/3/18/1426679158003/5976f2f5-af2f-46c3-8e4f-6c50a4a1e488-2060x1236.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }
 
 body {
	font-family:"futura-pt", futura, sans-serif;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	background-color: transparent;
 }
 
 h1 {
 	font-size: 200%;
 }